<!DOCTYPE html>
<html>
<head>
<title> font style Property</title>
<style>
p. normal {
font-style: normal;
}
p. italic {
font-style: italic
}
p.oblique {
font-style: oblique
}
</style>
</head>
<body>

<p class="normal">This paragraph is normal.</p>
<p class="italic">This paragraph is italic.</p>
<p class="oblique">This paragraph is oblique.</p>

</body>
</html>
