<!DOCTYPE html>
<html>
<head>
<title>font weight</title>
<style>
p. light {
font-weight: lighter;
}
p. bold {
font-weight: bold;
}
p. bolder {
font-weight: bolder;
}
</style>
</head>
<body>

<p class="light">This is a font with a "lighter" weight.</p>
<p class="bold">This is a font with a "bold" weight.</p>
<p class="bolder">This is a font with a "bolder" weight.</p>

</body>
</html>

<!--You can also define the font weight with a number from 100 (thin) to 900 (thick), 
according to how thick you want the text to be.
400 is the same as normal, and 700 is the same as bold. -->
