<!DOCTYPE html>
<html>
<head>
<title>list style type property</title>
<style>
ol.lower-alpha {
list-style-type: lower-alpha;
}
ul.circle {
list-style-type: circle;
}
ul.square {
list-style-type: square;
}
</style>
</head>
<body>

<ol class="lower-alpha">
   <li>Red</li>
   <li>Green</li>
   <li>Blue</li>
</ol>
<ul class="circle">
   <li>Red</li>
   <li>Green</li>
   <li>Blue</li>
</ul>
<ul class="square">
   <li>Red</li>
   <li>Green</li>
   <li>Blue</li>
</ul>
</body>
</html>


<!-- One of the ways is to use the list-style-type property,
 which can be set to circle, square, decimal, disc, lower-alpha, etc. -->
