<!DOCTYPE html>
<html>
<head>
<title>The overflow Property Values</title>
<style>
div {
width: 150px;
height 150px;
background-color: lightblue;
float:left;
overflow: scroll;
}

</style>
</head>
<body>

<div>
This text is inside the div element, which has a blue 
background color and is floated to the left. We set a specific 
height and width for the div element, and as you can see, 
the content cannot fit. 
</div>

</body>
</html>


<!--  auto - If overflow is clipped, a scroll-bar should be added to make it possible to see the rest of the content.
hidden - The overflow is clipped, and the rest of the content will be invisible.  -->
