<!DOCTYPE html>
<html>
<head>
<title>text decoration property</title>
<style>
p.none{
text-decoration: none;
}
p.inherit{
text-decoration: inherit;
}
p.overline{
text-decoration: overline;
}
p.underline{
text-decoration: underline;
}
p.line-through{
text-decoration: line-through;
}
</style>
</head>
<body>

<p class="none">This is default style of the text (none).</p>
<p class="inherit">This text inherits the decoration of the parent.</p>
<p class="overline">This is overlined text.</p>
<p class="underline">This is underlined text.</p>
<p class="line-through">This is lined-through text.</p>
</body>
</html>

<!--Commonly used values are:
none - The default value, this defines a normal text
inherit - Inherits this property from its parent element
overline - Draws a horizontal line above the text
underline - Draws a horizontal line below the text
line-through - draws a horizontal line through the text (substitutes the HTML <s> tag) -->

<!--Another value of text-decoration property is blink which makes the text blink.

CSS syntax looks like this:
text-decoration: blink; 
CSS
-->
